# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Test and coverage outputs
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

/books
